.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.editor{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.card{
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid #b4b7be;
    width: 80%;
    height: 70%;
}
.card-body{
  width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    flex-direction: column;
}
.active{
  background-color: #3c60a8b7;
}
.card-head{

}
.effects{

}
.effects span{

}
.edit-bar{
  width:100%
}
.effects .effect-bar{
  width: 100%;
}
.effects .effect-bar button{
  height: 39px;
    width: 24%;
    margin: 5px;
    border: 1px solid #3c60a8b7;
    background-color: #b4b7be;
    cursor: pointer;
    border-radius: 2px;
    font-size: 20px;
    line-height: 7px;
}
.effects .effect-bar button.active{
  background-color: #3c60a8b7;
}

.image-sec{
  width: 350px;
  height: 300px;
}

.image-sec .Img{
  width: 100%;
  height: 80%;
  background-color: #a8a8a8;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}
.image-sec .Img img{
  transition:1s;
  width: 100%;
  height: 100%;
}
.select-img{
  margin: 5px;
}

.select-img .btn{
    width: 20%;
    border: 1px solid #888;
    height: 30px;
    cursor: pointer;
    background-color: beige;
}
.icon {
  display: flex;
  justify-content: center;
}
.icon .rot-left {
  height: 30px;
  width: 20%;
  margin-left: 5px;
}
.icon {

}
.icon {

}
.icon {

}
.store .btn{
  
    width: 30%;
    padding: 5px;
    margin: 20px;
    outline: none;
    border: none;
    color: #fff;
    height: 40px;
    font-size: 20px;
}
.store .save{
  background-color: #3e58ad;
}
.store .rest{
  background-color: #7e1919;
}